
#main-container header{
    height: 80vh;
}

#main-container header h1{
    padding-top: 23vh;
}

#main-container header h1 span{
    font-size: 6vw;
    font-weight: 700;
    display: inline-block;
    padding: 7px 35px;
    border: 1.1vw solid #fff;
}


.kicker{
    font-size: 2.3vw;
}

#fixed-sidebar {

    display: none;
}

#main-container {

    flex-basis: 95%;        /* 80 PX OF WIDTH AND 34 PX OF MARGIN FROM ALL THE SIDES*/
    margin: 0 auto;

    margin-top: 9vh;     /* for searchbar*/
}

.menu-trigger{
    display: none;
}

/*========= FOR VIDEOS =====*/

.video-ul{
    justify-content: space-around;
}

.video-ul li{
    margin-left: 0px;
    margin-bottom: 40px;
}



/*=======FOOTER ========*/
footer{
    margin-top: 10px;
}